.container table, .container td, .container tr, .container th {
    border-collapse: collapse;
    border: 1px black solid;
}

.container td, .container th {
    padding: 0.2em;
}

.conflict {
    background-color: salmon;
}
