#app {
    height: 100%;
    width: 100%;
}

html, body {
    margin: 0px;
    height: 100%;
}

.clock {
    background-color: #ffffff;
    text-align: center;
    width: 220px;
    border-radius: 20px;
}

.controls > button {
    font-size: x-large;
}

.primed {
    color: blue;
}

.running {
    color: green;
}

.endgame {
    color: orange;
}

.finished {
    color: coral;
}

.aborted {
    color: red;
}

.red {
    color: red
}

.green {
    color: green;
}
