<!DOCTYPE html>
<html>

<head>
  <title>Score Admin</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/score-admin.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

 <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  <script src="/javascripts/vue.js"></script>
  <script src="/javascripts/score-admin.js" defer></script>
</head>

<body hidden>
  <div id="app">
    <button @click="rescore_event">Rescore Event</button>
    <label><input type="checkbox" v-model="options.conflicts_only"> Conflicts</label>
    <label><input type="checkbox" v-model="options.show_date"> Date</label>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Rnd</th>
            <th>Score</th>
            <th>Team</th>
            <!-- <th>User</th> -->
            <th>Submitted</th>
            <th>Updated</th>
            <th>Conflicts</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="score in scores" :class="{'conflict':score.conflicts.length}" :hidden="options.conflicts_only && !score.conflicts.length">
            <td>{{ score.id }}</td>
            <td>{{ score.round }}</td>
            <td>{{ score.score }}</td>
            <td>{{ findTeam(score.team).name }}</td>
            <!-- <td>{{ score.user }}</td> -->
            <td>{{ formatTime(score.submit_time) }}</td>
            <td>{{ formatTime(score.update_time) }}</td>
            <td>
              <span v-for="conflict in score.conflicts">
                {{ conflict.id }}
              </span>
            </td>
            <td><button @click="edit_score(score.id)">Edit</button><button @click="delete_score(score.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
